<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>WP Auto Post Demo</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/nprogress.css" />
		<link rel="stylesheet" type="text/css" href="css/style.min.css" />
	</head>
    <body class='snippet-body'>
        <div id="app">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center height">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="p-3 border-bottom d-flex align-items-center justify-content-center">
                                <h5>{{ title }}</h5>
                            </div>
                            <div class="p-3 px-4 py-4 border-bottom">
                                <p style="text-align: center;">
                                    Submitting this form will attempt to create a new wordpress post automatically. 
                                </p>
                                <validation-observer v-slot="{ invalid, handleSubmit }">
                                    <form @submit.prevent="handleSubmit(submitPost)" ref="form">
                                        <div class="form">
                                            <span class="font-weight-normal">Post Title</span>
                                            <validation-provider name="Post Title" rules="required" v-slot="{ dirty, valid, invalid, errors }">
                                                <input type="text" class="form-control" placeholder="Test Post" v-model="post.title" :readonly="submitting" /> 
                                                <span class="invalid-feedback d-inline-block" v-show="errors">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                        <div class="form">
                                            <span class="font-weight-normal">Post Description</span>
                                            <validation-provider name="Post Description" rules="required" v-slot="{ dirty, valid, invalid, errors }">
                                                <textarea class="form-control description-area" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus urna aliquet convallis..." v-model="post.description" :readonly="submitting"></textarea> <!--<a href="#" class=""><i class="fa fa-paperclip"></i></a> -->
                                                <span class="invalid-feedback d-inline-block" v-show="errors">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                        <div class="d-flex flex-column"> 
                                            <span class="font-weight-normal">Select Image</span>
                                            <div class="d-flex justify-content-between align-items-center footer">
                                                <validation-provider name="Post Image" rules="required|image" ref="postimg" v-slot="{ validate, errors }" tag="div">
                                                    <input type="file" accept="image/*" @change="previewImage" :disabled="submitting">
                                                    <span class="invalid-feedback d-inline-block" v-show="errors">{{ errors[0] }}</span>
                                                </validation-provider>
                                                <div class="button">
                                                    <button type="submit" class="btn btn-danger send" :disabled="invalid || submitting">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </validation-observer>
                            </div>
                            <div class="copyright">&copy; Amila Kalansooriya</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preview-block">
                <p v-if="!preview">Select an image to see its preview!</p>
                <template v-if="preview">
                    <div class="image-container">
                        <img :src="preview" class="img-fluid" />
                    </div>
                    <p class="mb-0">size: {{ Math.round(post.image.size/1024) }} KB</p>
                </template>
            </div>
        </div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.3.8/dist/vee-validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.3.8/dist/rules.umd.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="js/script.min.js" type="text/Javascript"></script>
	</body>
</html>